/* base theme */
* {
    -GtkDialog-action-area-border: 0;
}

*:disabled {
    -gtk-icon-effect: dim;
}

.background {
    color: @fg_color;
    background: @bg_color;
}

headerbar {
    min-height: 32px;
    background: @bg_dark_color;
}

/* containers, boxes, frames */
frame {
    /* Fixes the issue with a white line under FF's navbar and a few other
     * things using ThreeDShadow */
    border-color: @bg_color;
}

paned > separator {
    min-width: 3px;
    min-height: 3px;
    -gtk-icon-source: none;
    background: transparent;
}

/* various selections */
*:selected,
*:selected:focus {
    background: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband,
.rubberband {
    border: 1px solid @bg_accent_color;
    background: @insensitive_bg_accent_color;
}

.view:selected, .view text:selected, .view text selection,
iconview:selected, iconview text:selected, iconview text selection,
textview text:selected, textview text selection,
entry selection {
    background: @bg_accent_color;
}


menubar > menuitem {
    padding: 4px 8px;
}

menu menuitem {
    min-height: 20px;
    padding: 4px;
}

menu separator {
    margin: 6px;
}

menuitem:hover {
    background: @bg_hover_color;
}

menuitem:disabled {
    color: @insensitive_fg_color;
}

/* entry, input */
entry {
    padding: 2px 8px;
    color: @fg_color;
    background: @bg_light_color;
    caret-color: currentColor;
    transition: all 0.2s ease;
}

entry:focus {
    box-shadow: inset 2px 0 @bg_accent_color, inset -2px 0 @bg_accent_color, inset 0 2px @bg_accent_color, inset 0 -2px @bg_accent_color;
}

entry:disabled {
    color: @insensitive_fg_color;
    background: @insensitive_bg_light_color;
}

textview {
    background: @bg_light_color;
}

/* buttons */
button {
    min-width: 20px;
    min-height: 20px;
    padding: 2px 6px;
    transition: all 0.2s ease;
}

button {
    background: @bg_light_color;
}

button.flat, button.titlebutton, button.image-button {
    background: unset;
}

button separator {
    margin: 4px 1px;
}

button:hover {
    background: @bg_hover_color;
    -gtk-icon-effect: highlight;
}

button:active, button:checked {
    background: @bg_accent_color;
}

button:disabled:not(.flat) {
    background: @insensitive_bg_light_color;
}

button:disabled label, button:disabled, spinbutton:disabled {
    color: @insensitive_fg_color;
}

button:disabled:active, button:disabled:checked {
    background: @insensitive_bg_accent_color;
}

/* toolbar */
toolbar {
    padding: 2px;
}

toolbar button,
toolbar entry {
    margin: 0 4px;
}

/* switch */
switch {
    min-width: 44px;
    min-height: 24px;
    font-size: 1px;
    color: transparent;
    background: @bg_light_color;
    border: 2px solid @bg_dark_color;
    transition: all 0.2s ease;
}

switch slider {
    min-width: 20px;
    min-height: 20px;
    margin: 2px;
    background: @bg_color;
}

switch:checked {
    background: @bg_accent_color;
}

switch:disabled {
    background: @insensitive_bg_light_color;
}

/* checkboxes and radiobuttons */
check, radio {
	margin-left: 8px;
	margin-right: 8px;
    color: @bg_color;
    background: @bg_light_color;
    transition: all 0.2s ease;
}

check:checked, check:indeterminate,
radio:checked, radio:indeterminate {
    background: @bg_accent_color;
}

check:checked {
    -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/check-symbolic.png")),
                                  -gtk-recolor(url("assets/check@2-symbolic.png")));
}

radio:checked {
    -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/bullet-symbolic.png")),
                                  -gtk-recolor(url("assets/bullet@2-symbolic.png")));
}

check:indeterminate, radio:indeterminate {
    -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/dash-symbolic.png")),
                                  -gtk-recolor(url("assets/dash@2-symbolic.png")));
}

radio {
    border-radius: 100%;
}

check:disabled, radio:disabled {
    background: @insensitive_bg_light_color;
}

check:checked:disabled, radio:checked:disabled {
    background: @insensitive_bg_accent_color;
}

/* tabs */
notebook > header.top {
    padding-bottom: 3px;
    box-shadow: inset 0 -3px @bg_light_color;
}

notebook > header.bottom {
    padding-top: 3px;
    box-shadow: inset 0 3px @bg_light_color;
}

notebook > header.left {
    padding-right: 3px;
    box-shadow: inset -3px 0 @bg_light_color;
}

notebook > header.right{
    padding-left: 3px;
    box-shadow: inset 3px 0 @bg_light_color;
}

notebook > header > tabs > tab {
    padding: 4px 8px;
    color: @fg_color;
    background-color: @bg_color;
}

notebook > header > tabs > tab:hover:not(:checked) {
    color: @fg_color;
    background-color: @insensitive_bg_light_color;
}

notebook > header.top > tabs > tab:checked {
    color: @selected_fg_color;
    background-color: @bg_light_color;
    box-shadow: inset 0 3px @bg_accent_color;
}

notebook > header.bottom > tabs > tab:checked {
    color: @selected_fg_color;
    background-color: @bg_light_color;
    box-shadow: inset 0 -3px @bg_accent_color;
}

notebook > header.left > tabs > tab:checked {
    color: @selected_fg_color;
    background-color: @bg_light_color;
    box-shadow: inset 3px 0 @bg_accent_color;
}

notebook > header.right > tabs > tab:checked {
    color: @selected_fg_color;
    background-color: @bg_light_color;
    box-shadow: inset -3px 0 @bg_accent_color;
}

/* progressbars, sliders etc */
progressbar trough, scale trough {
    min-height: 10px;
    min-width: 10px;
    background: @bg_light_color;
}

scale.horizontal {
    margin: 5px 0;
}

scale.vertical {
    margin: 0 5px;
}

progressbar progress, scale highlight {
    background: @bg_accent_color;
}

progressbar.horizontal progress {
    min-height: 10px;
}

progressbar.vertical progress {
    min-width: 10px;
}

scale highlight:disabled {
    background: @insensitive_bg_accent_color;
}

scale marks {
    color: @insensitive_fg_color;
}

scale.horizontal indicator {
    min-width: 1px;
    min-height: 3px;
}

scale.vertical indicator {
    min-width: 3px;
    min-height: 1px;
}

/* scrolling */
scrolledwindow undershoot.top, 
scrolledwindow undershoot.bottom {
    background-image: linear-gradient(to left, alpha(@bg_dark_color, 0.5) 50%, alpha(@bg_light_color, 0.5) 50%);
    background-size: 15px 2px;
    background-repeat: repeat-x;
    background-origin: content-box;
}

scrolledwindow undershoot.top {
    background-position: top;
}

scrolledwindow undershoot.bottom {
    background-position: bottom;
}

scrolledwindow undershoot.left,
scrolledwindow undershoot.right {
    background-image: linear-gradient(to top, alpha(@bg_dark_color, 0.5) 50%, alpha(@bg_light_color, 0.5) 50%);
    background-size: 2px 15px;
    background-repeat: repeat-y;
    background-origin: content-box;
}

scrolledwindow undershoot.left {
    background-position: left;
}

scrolledwindow undershoot.right {
    background-position: right;
}

/* scrollbar */
* {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
}

scrollbar {
    background: @bg_dark_color;
    transition: all 0.2s ease;
}

scrollbar slider {
    min-width: 10px;
    min-height: 10px;
    background: @bg_scrollbar_color;
    margin: 1px;
    border: none;
    border-radius: 0;
    transition: all 0.2s ease;
}

scrollbar slider:hover {
    background: @bg_scrollbar_hover;
}

scrollbar slider:active {
    background: @bg_accent_color;
}

scrollbar.overlay-indicator:not(.hovering) {
	opacity: 0.7;
}

scrollbar.overlay-indicator:not(.hovering).vertical slider {
	min-width: 4px;
}

scrollbar.overlay-indicator:not(.hovering).horizontal slider {
	min-height: 4px;
}

/* popups */
popover {
    border: 2px solid alpha(@bg_dark_color, 0.3);
}

/* links */
*:link, *:link:visited, *:link:hover, *:link:active  {
    color: @link_color;
    background: unset;
}

/* file managers */
.caja-side-pane treeview, .caja-navigation-window {
  color: @fg_color;
  caret-color: @fg_color;
  background-color: @bg_dark_color; 
}

.caja-notebook widget {
    color: @fg_color;
    background-color: @bg_color;
}

.image-button.toggle.text-button {
	background-color: @bg_light_color;
}

.image-button.toggle.text-button:checked, .image-button.toggle.text-button:checked:hover {
	background-color: @selected_bg_color;
}

.image-button.toggle.text-button:hover {
	background-color: @bg_hover_color;
}

@define-color fg_color #DADADA;
@define-color text_color @fg_color;
@define-color bg_color #1C1C1C;
@define-color base_color @bg_color;
@define-color selected_bg_color #3A85E2;
@define-color selected_fg_color @fg_color;

@define-color bg_dark_color #1A1717;
@define-color bg_light_color #2B2B2B;
@define-color bg_hover_color #383838;
@define-color fg_accent_color #3A85E2;
@define-color bg_accent_color #3A85E2;

@define-color insensitive_bg_accent_color alpha(@bg_accent_color, 0.5);
@define-color insensitive_fg_accent_color alpha(@fg_accent_color, 0.5);

@define-color insensitive_bg_light_color #242424;

@define-color theme_fg_color @fg_color;
@define-color theme_text_color @text_color;
@define-color theme_bg_color @bg_color;
@define-color theme_base_color @base_color;

@define-color theme_selected_bg_color @bg_accent_color;
@define-color theme_selected_fg_color @selected_fg_color;

@define-color insensitive_bg_color @bg_color;
@define-color insensitive_fg_color alpha(@fg_color, 0.5);
@define-color insensitive_base_color @base_color;

@define-color theme_unfocused_fg_color @fg_color;
@define-color theme_unfocused_text_color @text_color;
@define-color theme_unfocused_bg_color @bg_color;
@define-color theme_unfocused_base_color @base_color;

@define-color warning_color #d27049;
@define-color error_color #802626;
@define-color success_color #5e6d36;

@define-color placeholder_text_color #737373;
@define-color link_color @fg_accent_color;
@define-color content_view_bg @bg_color;
@define-color wm_title @fg_color;
@define-color wm_unfocused_title @insensitive_fg_color;
@define-color wm_bg @bg_color;
@define-color wm_bg_unfocused @bg_color;

@define-color bg_scrollbar_color #525252;
@define-color bg_scrollbar_hover #5E5E5E;
